.sticky {
    position: sticky;
    top: 0;
    background-image: url('../images/sticky.jpeg');
    background-size: cover;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%; /* Hace que ocupe el ancho completo */
}

.sticky:hover {
    opacity: 0.8; /* Efecto al pasar el mouse */
}

/* Estilos generales */
body {
    font-size: 17px;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: 38px;
    color: #ff6600; /* Naranja inspirado en Dragon Ball */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 80px;
}

h2 {
    color: #ffcc00; /* Amarillo dorado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 80px;
    font-size: 30px;
}
ul{
    background-color: #333333;
    margin-right: 80px;
    margin-left: 80px;
    padding-right: 5px;
    padding-right: 20px;
    border: 4px solid #ff6600; /* Borde naranja */
    border-radius: 10px; /* Bordes redondeados */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify; 
}

p {
    color: #cccccc; /* Texto gris claro */
    margin-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
    font-size:17px;
}

/* Estilos para la foto de Akira Toriyama */
img {
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 4px solid #ff6600; /* Borde naranja */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    width: 200px; /* Tamaño fijo */
    height: auto; /* Mantiene la proporción */
}


/* Estilos para el iframe del mapa */
iframe {
    display: block;
    margin: 20px auto;
    border: 4px solid #ff6600; /* Borde naranja */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    height: 450px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #333333; /* Fondo gris oscuro */
    border-top: 4px solid #ff6600; /* Borde superior naranja */
}

footer p {
    margin: 0;
    color: #cccccc; /* Texto gris claro */
}

footer a {
    color: #ff6600; /* Enlace naranja */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Efectos de hover para la foto */
img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    transition: transform 0.3s ease;
}


